[Unit]
Description=Process Sentry v3
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/sentryv3.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
